@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 12, 12;
  --background-rgb: 238, 245, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 228, 228 , 228;
    --background-rgb: 4, 13, 18;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}